@import "styles/_variables.scss";

.card {
  @extend .noselect;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14));

  min-width: 290px;

  background: #ffffff;
  border-radius: 4px;

  animation-name: fade-in;
  animation-duration: 0.8s;

  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.14));
}

.appear {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  margin: 12px;
}

.bottomSection {
  margin-top: 0;
  flex-direction: row-reverse;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
