@import "styles/_variables.scss";

.card {
  @extend .noselect;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14));
  /* UI Background/Default */

  width: 332px;
  height: 100px;

  min-width: 332px;
  max-height: 100px;

  background: #ffffff;
  border-radius: 4px;

  margin-right: 16px;
  margin-bottom: 16px;

  animation-name: fade-in;
  animation-duration: 0.8s;

  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 510px) {
  .card {
    width: 300px;
    min-width: 300px;
  }
}

.card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.14));
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
  overflow: hidden;
}

.appear {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.topSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.favIconContainer {
  align-self: center;
  margin: 12px;
}

.vsmTitleContainer {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 12px 12px 12px;
}

.vsmTitle {
  /* Heading/H6 */

  font-family: Equinor, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  /* Text + static icons/⚪️/Default */

  color: $text-default;
}

.vsmLabel {
  margin: 12px;
  /* Navigation/Label */

  font-family: Equinor, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Text + static icons/⚪️/Tertiary */

  color: #6f6f6f;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
