.card {
  min-width: 332px;
  height: 100px;

  background: #ffffff;
  border-radius: 4px;

  margin-right: 16px;
  margin-bottom: 16px;

  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
