@import "styles/_variables.scss";

.vsmTitleContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 24px 0 0;
}

.vsmTitle {
  /* Heading/H6 */

  font-family: Equinor, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 4px 0px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  /* Text + static icons/⚪️/Default */

  color: $text-default;
}

.lastEditedLabel {
  /* Navigation/Label */

  font-family: Equinor, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0px;
  /* identical to box height, or 133% */

  /* Text + static icons/⚪️/Tertiary */

  color: #9ca6ac;
}
