.buttonUserDots {
  display: flex;
  flex-direction: row;
  overflow: auto;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  border: none;
  flex-shrink: 0;
}

.buttonUserDots:hover > * {
  cursor: pointer;
}

.containerUserDots {
  position: relative;
  height: 24px;
}

.oneUserDot {
  width: 24px;
}

.twoUserDots {
  width: 48px;
}

.threeUserDots {
  width: 72px;
}

.containerUserDots div:nth-child(1) {
  position: absolute;
  top: 0px;
  right: 0px;
}

.containerUserDots div:nth-child(2) {
  position: absolute;
  top: 0x;
  right: 12px;
  transition-property: right;
  transition-duration: 0.5s;
}

.containerUserDots div:nth-child(3) {
  position: absolute;
  top: 0px;
  right: 24px;
  transition-property: right;
  transition-duration: 0.5s;
}

.containerUserDots:hover > div:nth-child(2) {
  position: absolute;
  top: 0px;
  right: 24px;
}

.containerUserDots:hover > div:nth-child(3) {
  position: absolute;
  top: 0px;
  right: 48px;
}

.otherUsersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  height: 24px;
  margin-left: 6px;
}

.otherUsersText {
  font-size: 14px;
  color: #6f6f6f;
  margin: 0;
}
