.frontPageMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.frontPageContainer {
  padding-top: 32px;
  animation-name: fade-in;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontPageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 80%;
}

.searchField {
  flex: 578px 0 1;
  height: 36px;
  background-color: #ffffff !important;
  margin-right: 20px;
}

@media screen and (min-width: 510px) {
  .frontPageContainer {
    width: calc(100% - 56px);
    padding-left: 70px;
    min-width: 500px;
  }
}

@media screen and (max-width: 510px) {
  .frontPageContainer {
    width: 100%;
  }
}
