.header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 48px;
}

.vsmCardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


