.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 48px;
  width: 97%;
}

.vsmCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 530px) {
  .header {
    justify-content: center;
  }
}
