.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 48px;
  width: 97%;
}

.contentContainer {
  padding-top: 32px;
  animation-name: fade-in;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 510px) {
  .contentContainer {
    padding-left: 70px;
  }
}

@media screen and (max-width: 510px) {
  .contentContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .contentBottom {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .contentBottom {
    display: flex;
    flex-direction: column;
  }
  .contentFooter {
    margin-top: 20px;
  }
}

.contentHeader {
  width: 80%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.searchField {
  flex: 578px 0 1;
  height: 36px;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  font-size: 16px;
  color: #6f6f6f;
  padding-left: 10px;
}

.contentFooter {
  margin-bottom: 20;
  align-items: center;
  display: flex;
  border-radius: 4px;
  padding: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.vsmCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loadingVSMCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 530px) {
  .header {
    justify-content: center;
  }
}

.createCard {
  color: #007079;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 332px;
  height: 100px;

  min-width: 332px;
  max-height: 100px;

  border-radius: 4px;

  margin-right: 16px;
  margin-bottom: 16px;

  border: 1px dashed #007079;
  box-sizing: border-box;

  animation-name: fade-in;
  animation-duration: 0.5s;
}

.createCard:hover {
  background-color: rgb(222, 237, 238);
}

@keyframes fade-in {
  from {
    opacity: 0;
    //transform: translateY(10px);
  }
}
