@import "styles/_variables.scss";

.choice-edge {
  path {
    color: #fff;
  }
}

.editButton {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
  background: $white !important;
}

.editButton:hover {
  background: $equinor_HOVER-ALT !important;
}

.textarea {
  background: $canvas;
  outline: none;
  border: none;
  border-radius: 4px;
  height: auto;
  min-width: 6px;
  width: 6px;
  max-width: 90px;
  text-align: center;
  resize: none;
  cursor: pointer;
}

.textMeasureSpan {
  position: absolute;
  white-space: pre;
  visibility: hidden;
  height: auto;
  width: auto;
}
