@import "styles/_variables.scss";

.container {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.container--hover {
  animation-name: fade-in;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.44));
}

.node-shape-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-shape--square {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.node-shape--rhombus {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  transform: rotate(45deg);
  border-radius: 4px;
}

.node-shape--rhombus .description {
  transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  white-space: normal;
  text-align: center;
}

.node--hidden {
  opacity: 0;
}

.node--highlighted {
  filter: brightness(1.15);
}

.node--darkened {
  filter: brightness(0.85);
}

.node__description-container {
  padding: 7.5px 10px;
  overflow: hidden;
  flex: 1;
}

.node__role-container {
  height: 13px;
  padding: 5px 10px;
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}

.node__time-container {
  height: 13px;
  padding: 5px 10px;
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.node__waitingtime-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
  overflow-wrap: break-word !important;
}

.description--placeholder {
  opacity: 0.4;
}
