@import "styles/_variables.scss";

.container {
  border-radius: 4px;
  overflow: hidden;
}

.container--hover {
  animation-name: fade-in;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.44));
}

.node {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 140px;
  background-color: #ffff;
  color: #565656;
}

.node--generic {
  background-color: #00d889;
}

.node--mainactivity {
  background-color: #00c1ff;
}

.node--subactivity {
  background-color: #fdd835;
}

.node--waiting {
  background-color: #ff8f00;
}

.node--empty {
  opacity: 0;
}

.node__choice__container {
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Choice node color is set in the component */

.node--validDropTarget {
  filter: brightness(1.15);
}

.node--invalidDropTarget {
  filter: brightness(0.85);
}

.node__description-container {
  padding: 7.5px 10px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.node__role-container {
  margin-top: auto;
  height: 13px;
  padding: 5px 10px;
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}

.node__time-container {
  height: 13px;
  padding: 5px 10px;
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.node__waitingtime-container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.text {
  font-family: "Equinor";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.2px;
  margin: 0;
  white-space: pre-wrap;
}

.text--placeholder {
  opacity: 0.4;
}
