.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.textInput {
  height: 35px;
  width: 300px;
  margin: 0;
  padding: 0 2px;
  border: none;
  border-bottom: 1px solid #6f6f6f;
  border-radius: 0;
}
