@import "styles/variables";

.box {
  background: #ffffff;
  border-radius: 4px;
  padding: 0 20px 25px 20px;

  display: block;

  width: min(90vw, 400px);
  max-height: 70vh;

  animation-name: fade-in;
  animation-duration: 0.5s;

  overflow-x: scroll;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center; //Vertical align the items
  border-bottom: #dcdcdc solid 1px;
  margin-bottom: 30px;
}

.heading {
  /* Heading/H6 */
  font-family: Equinor, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $equinor_PROMINENT;
}

.labelSection {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.containerListExistingLabels {
  position: absolute;
  top: 37px;
  z-index: 1000;
  background-color: white;
}
