@import "styles/_variables.scss";

.container {
  width: 80vw !important;
}

.title {
  align-self: center !important;
  margin-bottom: 12px !important;
}

.flow {
  background-color: $canvas;
}

.custom-content-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  padding: 28px 28px 0 28px !important;
  margin: 0 12px !important;
  background-color: $equinor_LIGHT_GRAY;
}

.actions-container {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 15px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 15px 15px 0 15px;
  height: 100%;
  width: 100%;
}

.confirm-title {
  margin-bottom: 100px !important;
  text-align: center !important;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.confirm-arrow {
  margin-bottom: 15px;
}

.confirm-arrow--rotated {
  @extend .confirm-arrow;
  transform: rotate(-90deg);
}

.confirm-horizontal {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.sortAndFilter-container {
  display: flex;
  width: 100%;
  padding: 15px;
  margin-top: 16px;
}
