@import "styles/_variables.scss";

.box {
  background: #ffffff;
  border-radius: 4px;

  display: flex;
  flex-direction: column;

  min-width: 320px;
  width: 60vw;
  max-height: 90vh;

  animation-name: fade-in;
  animation-duration: 0.5s;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center; //Vertical align the items

  border-bottom: #dcdcdc solid 1px;
  padding: 6px 6px 6px 16px;
}

.middleSection {
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.bottomSection {
  border-top: #dcdcdc solid 1px;
  padding: 16px;
}

.userListSection {
  animation-name: fade-in;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 1vw; /* add padding-right to make room for scrollbar */ /* subtract 1vw for the width of the scrollbar */
}

.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  animation-name: fade-in;
  animation-duration: 0.5s;
  padding: 10px;
}

.userListSection :hover {
  background-color: $equinor_HOVER-ALT;
}

.userDotAndName {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userDotAndName > p {
  word-break: break-all;
}

.userRole {
  max-width: 140px !important;
}

.roleSelect:disabled {
  filter: saturate(0);
  //opacity: 0.5;
  cursor: not-allowed;
}

.roleSelect:hover:enabled {
  opacity: 0.5;
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}

.infoCannotEdit {
  border-radius: 4px;
  border: $equinor_DISABLED solid 1px;
  padding: 18px;
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 100%;
  margin-bottom: 24px;
}

.separator {
  border-bottom: #dcdcdc solid 1px;
  margin: 10px 0;
}

.addButton {
  width: 24;
  height: 24;
  flex-shrink: 0;
  margin-left: 12;
}
