.box {
  background: #ffffff;
  border-radius: 4px;

  display: flex;
  flex-direction: column;

  min-width: 320px;
  width: 60vw;
  max-height: 90vh;

  animation-name: fade-in;
  animation-duration: 0.5s;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center; //Vertical align the items

  border-bottom: #dcdcdc solid 1px;
  padding: 6px 6px 6px 16px;
}

.bottomSection {
  border-top: #dcdcdc solid 1px;
  padding: 16px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
