.button {
  width: 54px;
  height: 54px;
  border: none;
  background-color: #ffffff;
}

.button:hover {
  cursor: pointer;
  background-color: #deedee;
}

.button:disabled {
  cursor: not-allowed;
}
