.container {
  position: absolute;
  bottom: 35px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.14));
  z-index: 20;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
