.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border: none;
  background-color: #ffffff;
  padding: 0;
}

.wrapper:hover {
  cursor: pointer;
  background-color: #deedee;
}

.iconBorder {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
