@media screen and (max-width: 1024px) {
  .frontPageBody {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .frontPageBody {
    display: flex;
    flex-direction: column;
  }
  .frontPageFooter {
    margin-top: 20px;
  }
}

.frontPageFooter {
  margin-bottom: 20;
  align-items: center;
  display: flex;
  border-radius: 4px;
  padding: 12px;
  flex-wrap: wrap;
  justify-content: center;
}
