.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchField {
  flex: 578px 0 1;
  height: 36px;
  background-color: #ffffff !important;
  margin-right: 20px;
}
