.heart {
  color: #dadada;
  align-self: center;
  border: none;
  background-color: unset;
  padding: 0;
  margin: 0;
}

.heart:hover {
  opacity: 0.5;
}

.heart:active {
  color: black;
}

.favedHeart {
  @extend .heart;
  color: #ff1243;
}
