.createCard {
  color: #565656;

  /* Heading/H6 */
  font-family: "Equinor", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.2px;

  height: 100px;
  width: 100%;
  border: 1px dashed #d5dbdd;
  border-radius: 4px;

  margin: 0 16px 16px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  animation-name: fade-in;
  animation-duration: 0.5s;

  background: transparent;
}

.createCard:hover {
  color: #007079;
  border: 1px solid #007079;
  cursor: pointer;
}

.createCard:disabled {
  background-color: #efefef;
  color: #858585;
  border: 1px solid transparent;
  cursor: not-allowed;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
