.wrapper {
  bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.14));
}

.wrapper:hover {
  cursor: pointer;
  background-color: #deedee;
}

.iconBorder {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #007079;
  border-radius: 4px;
}
