.wrapper {
  display: flex;
  width: 360px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 4px;
  background: #fff;
  position: relative;
  box-shadow: 0 24px 38px 0 rgba(0, 0, 0, 0.14),
    0 9px 46px 0 rgba(0, 0, 0, 0.12), 0 11px 15px 0 rgba(0, 0, 0, 0.2);
}

.scrimHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 24px;
}

.headerText {
  height: 24px !important;
  line-height: 24px !important;
  color: #3d3d3d;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Equinor !important;
  font-size: 16px !important ;
  font-style: normal;
  font-weight: 500 !important;
}

.closeButton {
  padding: 0;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  min-width: auto;
}
.horizontalBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 388px;
  height: 16px;
  position: absolute;
  left: 0.5px;
  top: 40px;
}

.horizontalLine {
  width: 389px;
  height: 1px;
  background: #dcdcdc;
  flex-shrink: 0;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.scrimBody {
  color: #3d3d3d !important;
  font-feature-settings: "liga" off, "clig" off !important;
  font-family: Equinor !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 16px !important;
}

.buttons {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
