.grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 100%;
}
.gridcolumn {
  background-clip: padding-box;
}

.emptyVsmCardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loadingVSMCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
