%roleSelectBase {
  font-family: Equinor, sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2px;
  min-width: 110px;
  border: 0;
  background: transparent;
  -webkit-appearance: none; // Hide the original chevron
}
.roleSelect {
  @extend %roleSelectBase;
  background: url(/chevron_down.svg) no-repeat right;
  background-position: 90px 25%;
}
.roleSelectDisable {
  @extend %roleSelectBase;
  background: url(/chevron_down_disable.svg) no-repeat right;
  background-position: 90px 25%;
}
