@import "styles/_variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.minimizeIcon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid $equinor_PROMINENT;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.container .roleText {
  font-family: Equinor, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.roleSelectDisable {
  pointer-events: none;
  opacity: 0.5;
}
