@import "../styles/variables";

.scrimHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #dcdcdc;
}

.scrimTitle {
  padding: 12px 18px;
}

.scrimWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80vw;
  max-height: 80vh;
  background-color: white;
  border-radius: 2px;
}

.scrimContent {
  padding: 18px;
}

.buttonsGroup {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.loaderContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
}
