@media screen and (min-width: 510px) {
  .iconContainer {
    border-bottom: 1px solid #dcdcdc;
  }
}

@media screen and (max-width: 510px) {
  .iconContainer {
    border-bottom: 1px solid #dcdcdc;
  }
}

.iconContainer {
  display: flex;
  flex-direction: row;
  height: 56px;
  width: 56px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
}

.iconContainer :hover {
  background-color: #dadada;
}
