@import "styles/_variables.scss";

.sortSelect {
  /* Navigation/Menu Title */

  font-family: Equinor, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $equinor_PROMINENT;
  /* identical to box height, or 100% */

  letter-spacing: 0.2px;
  min-width: 140px;
  border: 0;
  padding: 0 16px;

  // Replace the chevron with a green one
  -webkit-appearance: none; // Hide the original chevron
  background: url(/chevron_down.svg) no-repeat right; // Add svg chevron
  background-position-x: 105px; // Adjust placement
}

.sortSelect:hover {
  cursor: pointer;
  background-color: $equinor_HOVER-ALT;
}
