@import "styles/_variables.scss";

//Variables
//- Colors
$problemColor: $Interactive-Danger;
$questionColor: $Interactive-Warning;
$ideaColor: $Infographic-Substitute_Green-Succulent;
$riskColor: rgb(255, 146, 0);
$unknownColor: rgba(0, 0, 0, 0.08);
$draftColor: $black;
//

.circle {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  cursor: pointer;
}

.circle:hover {
  opacity: 0.2;
}

.problem {
  @extend .circle;
  color: $problemColor;
  border: solid 1px $problemColor;
}

.problem.selected {
  @extend .problem;
  background-color: $problemColor;
  color: white;
}

.idea {
  @extend .circle;
  color: $ideaColor;
  border: solid 1px $ideaColor;
}

.idea.selected {
  @extend .idea;
  color: white;
  background-color: $ideaColor;
}

.question {
  @extend .circle;
  color: $questionColor;
  border: solid 1px $questionColor;
}

.question.selected {
  @extend .question;
  color: white;
  background-color: $questionColor;
}

.risk {
  @extend .circle;
  color: $riskColor;
  border: solid 1px $riskColor;
}

.risk.selected {
  @extend .risk;
  color: white;
  background-color: $riskColor;
}

.unknown {
  @extend .circle;
  border: dashed 1px;
}

.unknown.selected {
  @extend .unknown;
  background-color: $unknownColor;
}

.draft {
  opacity: 0.4;
  border-style: dashed;
}

.draft.selected {
  background-color: white;
  color: $draftColor;
  border: dashed 1px $draftColor;
}

.solved {
  color: #9ca6ac;
  background-color: #f7f7f7;
  border: solid 1px #f7f7f7;
}

.solved.selected {
  background-color: #9ca6ac;
  color: white;
  border: solid 1px #9ca6ac;
}
