.container {
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  font-family: Equinor, sans-serif;
  min-width: 24px; //For some reason setting width wasn't enough. It got squished
}
