.container {
  display: flex;
  flex-direction: row;
  max-width: 55%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.otherUsersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  height: 24px;
}

.otherUsersText {
  font-size: 14px;
  color: #6f6f6f;
  margin: 0;
}
