.wrapper {
  display: flex;
  //justify-content: center;
  //overflow:hidden;
  height: 95vh;
  //height: 100%;
}

.categoriesWrap {
  padding: 32px;
  background-color: white;
  width: 290px;
  min-width: 290px;
  max-width: 290px;
  overflow: scroll;
}

.categoriesDraggableSection {
  //height: 100%;
}

.header {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #3d3d3d;
}

.infoBox {
  margin-top: 12px;
  margin-bottom: 12px;

  background-color: white;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.14));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.4px;
  color: #6f6f6f;

  display: flex;
  justify-content: space-between;
}

.closeIcon {
  width: 30px;
}

.qipSection {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
