@import "../styles/variables";

.title {
  text-align: center;
  border-radius: 4px;

  transition: all 0.1s ease-in-out;
}

.title:hover {
  cursor: pointer;
  background-color: #deedee;
}

.scrimHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #dcdcdc;
}

.scrimTitle {
  /* UI/Accordion header */
  font-family: Equinor, sans-serif;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Text + static icons/⚪️/Default */
  color: #3d3d3d;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBar {
  min-width: 320px;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.center {
  display: flex;
  justify-content: space-evenly;
}

.centerButton {
  display: flex;
  align-items: center;

  max-width: 50vw;
}

.projectName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  color: rgb(61, 61, 61);
  font-family: Equinor !important;
  font-size: 1.25rem;
  outline: none;
  text-align: right;
}

.scrimWrapper {
  background-color: white;
  border-radius: 2px;
  padding: 24px;
  max-width: 80vw;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 450px;
}
.scrimContent {
  font-family: Equinor;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 510px) {
  .topBar {
    padding: 0 !important;
  }

  .homeButtonText {
    display: none;
  }

  .homeButton {
    overflow: hidden;
    white-space: nowrap;
    min-width: 40px;
    padding: 3px;
  }

  .userCircle {
    display: none;
  }

  .centerButton {
    overflow: hidden;
    white-space: nowrap;
    max-width: 70vw;
  }
}

@media screen and (max-height: 568px) {
  .scrimWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.deleteButton {
  align-self: flex-end;
}

.snackbar {
  margin: 12px;
}
