.frontPageMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.frontPageContainer {
  padding-top: 32px;
  animation-name: fade-in;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 510px) {
  .frontPageContainer {
    width: calc(100vw - 70px);
    padding-left: 70px;
    min-width: 500px;
  }
}

@media screen and (max-width: 510px) {
  .frontPageContainer {
    width: 100%;
  }
}

.frontPageHeader {
  margin-bottom: 30px;
  width: calc(80vw - 70px);
}

.frontPageSubHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.sortAndFilter {
  display: flex;
}
