// Format for main container, where the navigation bar is on the left for large screens and on top for small screens

.main {
  flex: 1;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 510px) {
  .main {
    flex-direction: row;
  }
}

@media screen and (max-width: 510px) {
  .main {
    flex-direction: column;
  }
}

.container {
  animation-name: fade-in;
  animation-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  margin-right: 10%;
  margin-left: 10%;
}

.header {
  margin-bottom: 30px;
  width: 100%;
}

.subHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex: 1;
}

// The footer is at the bottom of the page for large screens and on top for small screens

.body {
  align-self: center;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1300px) {
  .body {
    display: flex;
    flex-direction: column;
  }
  .footer {
    align-self: flex-end;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.footer {
  align-items: center;
  display: flex;
  border-radius: 4px;
  padding: 12px;
  flex-wrap: wrap;
}
