.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 48px;
  width: 97%;
}

.vsmCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

// When cards are arranged in one single columns, center cards

@media screen and (max-width: 952px) {
  .vsmCardContainer {
    justify-content: center;
  }
}

.emptyVsmCardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loadingVSMCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 530px) {
  .header {
    justify-content: center;
  }
}

.createCard {
  color: #007079;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 332px;
  height: 100px;

  min-width: 332px;
  max-height: 100px;

  border-radius: 4px;

  margin-right: 16px;
  margin-bottom: 16px;

  border: 1px dashed #007079;
  box-sizing: border-box;

  animation-name: fade-in;
  animation-duration: 0.5s;
}

@media screen and (max-width: 510px) {
  .createCard {
    width: 300px;
    min-width: 300px;
  }
}

.createCard:hover {
  background-color: rgb(222, 237, 238);
}

@keyframes fade-in {
  from {
    opacity: 0;
    //transform: translateY(10px);
  }
}
