.wrapper {
  display: flex;
  //justify-content: center;
}

.categoriesWrap {
  padding: 32px;
  min-width: 347px;
  background-color: white;
}

.header {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #3d3d3d;
}

.infoBox {
  background-color: white;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.14));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.4px;
  color: #6f6f6f;
}

.infoBox > div {
  display: flex;
}

.closeIcon {
  width: 30px;
}

.qipSection {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
