.cardButton {
  height: 20px;
  width: 18px;
  border: 1px dashed #6f6f6f;
  cursor: pointer;
}

.cardButton--choice {
  transform: rotate(45deg);
  height: 16px;
  width: 16px;
}

.cardButton--mainactivity--hover {
  background-color: #00c1ff;
}

.cardButton--subactivity--hover {
  background-color: #fdd835;
}

.cardButton--choice--hover {
  background-color: #fdd835;
}

.cardButton--waiting--hover {
  background-color: #ff8f00;
}

.cardButtonContainer {
  display: flex;
  flex-direction: row;
  flex: 0 0 33%;
  justify-content: center;
  align-items: center;
}

.cardButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 115px;
  padding: 7.5px;
  row-gap: 15px;
  justify-content: center;
}

.cardButtonsContainer--top {
  position: absolute;
  top: 0px;
  transform: translateY(-100%);
}

.cardButtonsContainer--bottom {
  position: absolute;
  bottom: 0px;
  transform: translateY(100%);
}

.cardButtonsContainer--right {
  position: absolute;
  transform: translateX(100%);
  right: 0;
  height: 125px;
  width: auto;
  flex-direction: column;
}

.cardButtonsContainer--left {
  position: absolute;
  transform: translateX(-100%);
  height: 125px;
  width: auto;
  flex-direction: column;
}
