// colors
$equinor_PRIMARY: #ff1243;
$equinor_PROMINENT: #007079;
$equinor_SECONDARY: #243746;
$equinor_DISABLED: #e6e5e6;

$equinor_GRAY: #666;
$equinor_MEDIUM_GRAY: #c2c2c2;
$equinor_LIGHT_GRAY: #f2f2f2;

$mint: #defaeb;
$white: #fff;
$black: #000;

$font: 'Equinor', 'Arial', 'Lucida Grande', sans-serif;
