.container {
  min-height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation-name: fade-in;
  animation-duration: 0.5s;
}

.appear {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px)
  }
}
